*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color:#282c34;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  margin: 10px 0;
}
p{
  margin: 5px 0;
}

.Card-container{
  background-color: bisque;
  border-radius: 20px 20px 0 0;
  /* height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  

}
.Container{
  margin-left: 40px;
}

.Card-picture {
  width: 100%;
  height: 200px;
  /* height: 35vmin; */
  border-radius: 20px 20px 0 0 ;
  pointer-events: none;
}
.Card-info{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-bottom: 5px;
}
.Btn{
  padding-top: 10px;
  display: flex;
  gap: 30px;
}
.Btn button{
  padding: 10px 20px;
  border-radius: 8px;
}
.Btn1{
  border: 1px solid white;
  background-color: white;
}
.Btn2{
  border: 1px solid #61dafb;
  background-color: #61dafb;
  color: white;
}
.About{
  background-color: bisque;
  padding: 5px 0;
}
.Interest{
  background-color: bisque;
  padding: 5px 0;
}
.P1, .P2{
  width: 430px;
  word-wrap: break-word;
  margin-left: 40px;
  padding: 8px 10px 8px 0;
}
footer{
  display: flex;
  justify-content: center;
  padding: 8px;
  
  gap: 8px;
  background-color: rgb(166, 56, 56);
  border-radius: 0 0 18px 18px;
}